@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #fff;
	}
}

body {
	color: var(--background);
	background: var(--foreground);
	font-family: "Geist", sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
